.post-book-info
  .archive-book-description
    font-family: Georgia;
    font-size: 1.0em;
    line-height: 1.6em;
    font-weight: normal;
    color: #212121;
    overflow: initial;
    height: initial;

.download-container
  margin-top: -5px;
  .post-book-download
    font-size: 1.0em;
    display: inline-block;
    border: 1px solid #38b7ea;
    border-radius: 3px;
    padding: 3px 10px;
    cursor: pointer;
    &:hover
      text-decoration: none;
      background: #38b7ea;
      color: #FFFFFF;
    &:last-child
      margin-left: 10px;